body{
    font-family: 'Montserrat', sans-serif;
}
.bg-cinza{
    background-color: #F5F5F5;
}
/* Parte cabecalho */
.cabecalho{
    display: flex;
    justify-content: space-between;
}
.cabecalho-esquerdo{
    display: flex;
    align-items: center;
}
.cabecalho-esquerdo ul {
    display: flex;
}
.cabecalho-esquerdo ul li{
    display: flex;
    margin-right: 40px;
    color: #18A0FB;
    text-decoration: none;
}
.cabecalho-esquerdo ul li a{
    color: #18A0FB;
    text-decoration: none;
}
.cabecalho-esquerdo a:hover{
    text-decoration: underline;
}
img{
    width: 122,07px;
    height: 32px;
    margin-left: 80px;
    margin-right: 70px;
}

/* Botões do cabecalho */

.cabecalho-direita{
    margin-right: 80px;
}
.botao-branco{
    border: 1px solid #18A0FB;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: white;
    color: #18A0FB;
    margin-right: 12px;
    width: 130px;
    height: 40px;

}
.register{
    background: #18A0FB;
    border: #18A0FB;
    border-radius: 6px;
    color: white;
    margin-right: 80px;
    padding: 11px 40px;
}

/* Secao do video */
.parte-video{ 
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px ;
}
.parte-video h1{
    font-size: 56px;
    position: relative;
    top: -250px;
}
 .parte-video button{
    background: #18A0FB;
    border: #18A0FB;
    border-radius: 6px;
    color: white;
    width: 192px;
    height: 52px;
    padding: 15px 50px;
    position: relative; 
    top: -250px; 
 }

 /* secao 2 */

 .secao-2{
     display: flex;
     flex-wrap: wrap;
     padding: 80px;
 }
 .div-reparticoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reparticoes{
     display: flex;
     flex-direction: column;
     width: 600px;
     
}
.titulo-2{
    font-size: 48px;
    width: 750px;
    height: 144px;
    line-height: 72px;
    letter-spacing: -0.015em;
}

/* secao 3 */

.secao-3{
    display: flex;
    flex-wrap: wrap;
}
.secao-3-part{
    display: flex;
    padding: 80px;  
}
.secao-3-part > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secao-3 img{
    Width: 600px;
    Height: 300px;
}

/* secao 4 */

.secao-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}
.secao-4 h1{
    font-size: 48px;
}
.secao-4 p{
    font-size: 36px;
    text-align: center;
    padding-bottom: 80px;
}
.grid-parte{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 64px;
}
.grid-parte img{
    Width: 173px;
    Height: 76px;
}

/* sacao 5 */

.secao-5{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.secao-5 p{
    font-size: 36px;
    width: 943px;
    height: 100px;
}

/* secao 6 */
.secao-6 nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 40px;
    margin: 0px 80px 0px 80px;
    border-bottom:1px solid lightgray;
}
.secao-6 p{
    font-weight: bold;
}
.secao-6 p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.secao-6 .social-midia {
    display: flex;
    justify-content: center;
}
.secao-6 .social-midia i{
    padding: 80px 10.5px 40px 10.5px;
}
.secao-6{
    text-align: center;
}
.secao-6 small{
    padding-bottom: 120px;
}
